{# /src/templates/Admin/Modules/navigation.html.twig #}
{% set route_name = app.request.attributes.get('_route') %}
{% block navigation %}
<nav class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset("images/logoSEVERKA.png") }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.name }} {{ app.user.surname }} {% include "Gadgets/role_badges.html.twig" %}</p>
            </div>
        </div>

        <!-- Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">E-PŘIHLÁŠKY</li>
            <li class=" {% if route_name=='admin_home' %}active{% endif %}" >
                <a href="{{ path("admin_home") }}" {% if route_name=='admin_home' %}class="active"{% endif %}>
                    <i class="fa fa-home"></i> <span>Úvodní stránka</span>
                </a>
            </li>
            {% if is_granted("ROLE_VIEW_CHILDREN") %}
                <li class=" {% if section=="event" %}active{% endif %}" >
                    <a href="{{ path('admin_event_list') }}" {% if section=="event" %}class="active"{% endif %}>
                    <i class="fa fa-map-signs"></i><span>Akce</span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_VIEW_CHILDREN") %}
                <li class="{% if section=="child" %}active{% endif %}" >
                    <a href="{{ path('admin_child_list') }}" {% if section=="child" %}class="active"{% endif %}>
                    <i class="nav-icon fa fa-child"></i><span>Děti</span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_VIEW_PERSON") or is_granted("ROLE_EDIT_PERSON") %}
                <li class="{% if section=="person" %}active{% endif %}">
                    <a href="{{ path('admin_person_list') }}" {% if section=="person" %}class="active"{% endif %}>
                    <i class="nav-icon fa fa-users"></i><span>Dospělí</span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_VIEW_LOGS") %}
                <li class=" {% if route_name=='admin_logs' %}active{% endif %}" >
                    <a href="{{ path('admin_logs') }}" {% if route_name=='admin_logs' %}class="active"{% endif %}>
                        <i class="nav-icon fa fa-archive"></i><span>Bezpečnostní záznamy</span>
                    </a>
                </li>
            {% endif %}
            <li class="header">EMAIL (hudba budoucnosti)</li>
            {% if is_granted("ROLE_VIEW_NEWSLETTER") %}
                <li class=" {% if route_name=='admin_newsletter' %}active{% endif %}" >
                    <a href="#" {% if route_name=='admin_newsletter' %}class="active"{% endif %}>
                    <i class="nav-icon fa fa-envelope"></i><span>Newslettery</span>
                    </a>
                </li>
            {% endif %}
            <li class="header">DISK</li>
            <li>
                <a href="https://drive.google.com/drive/folders/1dunqe4M6I2IXQojFzzgYbvFFHM9M5QVa">
                    <span> Disk <small><i class="fa fa-external-link" aria-hidden="true"></i></small></span>
                </a>
            </li>
            <li class="header">FOTKY (hudba budoucnosti)</li>
            <li class="header">PŘÍSPĚVKY (hudba budoucnosti)</li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</nav>
{% endblock %}