{# /src/templates/Admin/Event/signed-people.html.twig #}
<section class="col-lg-6 col-xs-12">
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-list"></i>
            <h1 class="box-title"> Přihlášení na akci: {{ event.fullName }} </h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table id="signedPeople" class="table table-hover table-striped table-bordered table-responsive">
                <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Jméno a příjmení</th>
                    <th>Role</th>
                    <th>Věk*</th>
                    <th>Čas přihlášení</th>
                    {% if is_granted("ROLE_EDIT_APPLICATION") or is_granted("ROLE_DELETE_APPLICATION") %}
                        <th>Akce</th>
                    {% endif %}
                </tr>
                </thead>
            </table>
            <i>* Věk je počítán na začátku akce.</i>
        </div>
    </div>
</section>
<script>
{% block javascripts %}
    var ajaxSignedList;
    {% if is_granted("ROLE_EDIT_APPLICATION") or is_granted("ROLE_DELETE_APPLICATION") %}
    ajaxSignedList = "/api/applications?groups[]=person.roles&groups[]=child&event={{ event.id }}";
    {% else %}
    ajaxSignedList = "/api/applications?deleted=false&groups[]=person.roles&groups[]=child&event={{ event.id }}";
    {% endif %}
    var event_dateStart = "{{ event.dateStart|date("d-m-Y") }}";
{% endblock %}
</script>
{{ encore_entry_script_tags('event-signed') }}
