{# /src/templates/Admin/Event/single-event-edit.html.twig #}

<section class="col-sm-12 col-md-12 col-lg-6">
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-list"></i>
            <h1 class="box-title"> Úprava akce: <b>{{ event.fullName }} ({{ event.shortName }})</b></h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form id=editEvent autocomplete=off>
                <h3>Základní informace</h3>
                <input type="hidden" name="id" value="{{ event.id }}">
                {# Zkratka, celé jméno, typ akce, cena #}
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="shortName">Zkratka akce:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                            <input type="text" class="form-control pull-right" name="shortName" id="shortName"
                                   data-default="{{ event.shortName }}" required
                                   value="{{ event.shortName }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-6">
                        <label for="fullName">Celý název akce:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                            <input type="text" class="form-control pull-right" name="fullName" id="fullName"
                                   data-default="{{ event.fullName }}" required
                                   value="{{ event.fullName }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-6">
                        <label for="type">Typ akce</label>
                        <select class="form-control" id="type" name="type" data-default="{{ event.type }}">
                            <option value="JA" {% if event.type == "JA" %}selected{% endif %}>
                                Jednodenní akce
                            </option>
                            <option value="VA" {% if event.type == "VA" %}selected{% endif %}>
                                Vícedenní akce
                            </option>
                            <option value="LT" {% if event.type == "LT" %}selected{% endif %}>
                                Letní tábor
                            </option>
                            <option value="PV" {% if event.type == "PV" %}selected{% endif %}>
                                Pro vedoucí
                            </option>
                        </select>
                        <br>
                        <label for="dateRange">Datum konání:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="dateRange" name="dateRange"
                                    value="{{ event.dateStart|date("d.m.Y") }} - {{ event.dateEnd|date("d.m.Y") }}">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="priceMember">Cena pro členy</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            <input type="number" class="form-control pull-right" name="priceMember" id="priceMember"
                                   data-default="{{ event.priceMember }}" required
                                   value="{{ event.priceMember }}">
                        </div>
                        <br>
                        <label for="priceOther">Cena pro nečleny <i>(neplatí-li, nastavte hodnotu: -1)</i></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            <input type="number" class="form-control pull-right" name="priceOther" id="priceOther"
                                   data-default="{{ event.priceOther }}" required
                                   value="{{ event.priceOther }}">
                        </div>
                    </div>
                </div>

                <h3>Místo konání</h3>
                {# Adresa #}
                <div class="row">
                    <input type="hidden" name="address.id"
                           value="{{ event.address.id is empty ? "": event.address.id }}">
                    <div class="form-group col-lg-12">
                        <label for="address.street">Ulice:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-home"></i>
                            </div>
                            <input type="text" class="form-control pull-right smartform-street-and-number" data-mask name="address.street" id="address.street"
                                   data-default="{{ event.address.street }}" required
                                   value="{{ event.address.street }}">
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="address.city">Město:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-map-o"></i>
                            </div>
                            <input type="text"  class="form-control pull-right smartform-city" name="address.city" id="address.city"
                                   data-default="{{ event.address.city }}" required
                                   value="{{ event.address.city }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-12">
                        <label for="address.postcode">PSČ:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-map-pin"></i>
                            </div>
                            <input type="text" class="form-control pull-right smartform-zip" name="address.postcode" id="address.postcode"
                                   data-default="{{ event.address.postcode }}" required
                                   value="{{ event.address.postcode }}">
                        </div>

                    </div>
                </div>
                <h3>Ostatní</h3>
                {# Kapacita, aktivní přihláška, smazáno #}
                <div class="row col-lg-6">
                    <label for="address.postcode">PSČ:</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-map-pin"></i>
                        </div>
                        <input type="text" class="form-control pull-right smartform-zip" name="address.postcode" id="address.postcode"
                               data-default="{{ event.address.postcode }}" required
                               value="{{ event.address.postcode }}">
                    </div>

                </div>
                <div class="row col-lg-offset-6">
                    <div class="form-group col-lg-4 col-md-4 pull-right">
                        <label></label>
                        <input type="submit" onclick="editEvent(event)" class="btn btn-block btn-success" style="margin-top: 60px">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://secure.smartform.cz/api/v1/smartform.js" async>
</script>
<script type="text/javascript">
    var smartform = smartform || {};

    smartform.beforeInit = function initialize() {
        smartform.setClientId('XF9XMJ5oqQ');
    }
</script>
{{ encore_entry_script_tags("event-patch") }}