{# /src/templates/Admin/Person/single-person-edit.html.twig #}

<section class="col-xs-12 col-md-12 col-lg-6">
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-list"></i>
            <h1 class="box-title"> Informace o akci: <b>{{ event.fullName }}</b> ({{ event.shortName }}, ID:  {{ event.id }})</h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-12">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td><b>Zkratka:</b></td>
                        <td>{{ event.shortName }}</td>
                    </tr>
                    <tr>
                        <td><b>Celé jméno:</b></td>
                        <td>{{ event.fullName }}</td>
                    </tr>
                    <tr>
                        <td><b>Začátek:</b></td>
                        <td>{{ event.dateStart|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <td><b>Konec:</b></td>
                        <td>{{ event.dateEnd|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <td><b>Typ:</b></td>
                        <td id=typeOfEvent>{{ event.type }}</td>
                    </tr>
                    <tr>
                        <td><b>Aktivní přihláška:</b></td>
                        <td id=activeApplication>{{ event.activeApplication }}</td>
                    </tr>
                    <tr>
                        <td><b>Kapacita:</b></td>
                        <td id=capacity>{{ event.capacity }}</td>
                    </tr>
                    <tr>
                        <td><b>Cena člen/nečlen:</b></td>
                        <td><span id=priceMember>{{ event.priceMember }}</span>/<span id=priceOther>{{ event.priceOther }}</span></td>
                    </tr>
                    <tr>
                        <td><b>Místo konání:</b></td>
                        <td><a target="_blank" href="https://www.google.com/maps?q=
                            {{ event.address.street|replace({' ': '+'}) }} +
                            {{ event.address.city|replace({' ': '+'}) }} +
                            {{ event.address.postcode }}">
                                {{ event.address.street }}, <br>
                                {{ event.address.city }}, <br>
                                {{ event.address.postcode }}
                            </a>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
        </div>
    </div>
</section>
{{ encore_entry_script_tags('admin') }}
{{ encore_entry_script_tags('event') }}
