{# /src/templates/Admin/Person/single-person-edit.html.twig #}

<section class="col-xs-12 col-md-12 col-lg-6">
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-list"></i>
            <h1 class="box-title"> Úprava uživatele: {{ editedPerson.name }} {{ editedPerson.surname }}</h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form id=editPerson autocomplete=off>
                <h3>Základní informace</h3>
                <input type="hidden" name="id" value="{{ editedPerson.id }}">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="name">Jméno:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                            <input type="text" class="form-control pull-right" name="name" required
                                   value="{{ editedPerson.name }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-6">
                        <label>Příjmení:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                            <input type="text" class="form-control pull-right" name="surname" required
                                   value="{{ editedPerson.surname }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-12">
                        <label>E-mail</label><
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="email" class="form-control pull-right" name="email" required
                                   value="{{ editedPerson.email }}">
                        </div>
                    </div>
                    <div class="form-group col-lg-5">
                        <label>Datum narození:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="date" class="form-control pull-right" id="birthDate" name="birthDate" required
                                   value="{{ editedPerson.birthDate|date('Y-m-d') }}" data-inputmask="'alias': 'dd.mm.yyyy'" data-mask="">
                        </div>
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Pohlaví</label>
                        <select class="form-control" style="width: 100%;" id="sex" name="sex" required>
                            <option value="M" {% if editedPerson.sex == "M" %}selected{% endif %}>
                                Muž
                            </option>
                            <option value="Z" {% if editedPerson.sex == "Z" %}selected{% endif %}>
                                Žena
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Velikost trička:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-black-tie"></i>
                            </div>
                            <select class="form-control pull-right" name="shirtSize" required autocomplete=off>
                                {% set shirtSizes = ["XS", "S", "M", "L", "XL", "XXL", "3XL", "4XL"] %}
                                {% for size in shirtSizes %}
                                    <option {% if editedPerson.shirtSize == size %}selected{% endif %}>{{ size }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <h3>Bydliště & ostatní</h3>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Ulice:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-home"></i>
                            </div>
                            <input type="text" class="form-control pull-right smartform-street-and-number" data-mask name="address.street" required
                                   value="{{ editedPerson.address.street }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-6">
                        <label>Město:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-map-o"></i>
                            </div>
                            <input type="text"  class="form-control pull-right smartform-city" name="address.city" required
                                   value="{{ editedPerson.address.city }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-4">
                        <label>PSČ:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-map-pin"></i>
                            </div>
                            <input type="text" class="form-control pull-right smartform-zip" name="address.postcode" required
                                   value="{{ editedPerson.address.postcode }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-4 col-md-4">
                        <label>Člen ČTU</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-id-card"></i>
                            </div>
                            <select class="form-control pull-right" id="ctuMember" name="ctuMember" required autocomplete="off">
                                <option value=true {% if editedPerson.ctuMember %}selected{% endif %}>Ano</option>
                                <option value=false {% if not editedPerson.ctuMember %}selected{% endif %}>Ne</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-md-4">
                        <label>Smazán</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user-times"></i>
                            </div>
                            <select class="form-control pull-right" name="deleted" required autocomplete="off">
                                <option value=true {% if editedPerson.deleted %}selected{% endif %}>Ano</option>
                                <option value=false {% if not editedPerson.deleted %}selected{% endif %}>Ne</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6">
                        <label>Role</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>
                            <select class="form-control pull-right" name="roles" multiple required>
                                {% set roles = ["ROLE_PARENT", "ROLE_LEADER", "ROLE_ADMIN"] %}
                                {% for role in roles %}
                                    <option value="{{ role }}" {% if role in editedPerson.roles %}selected{% endif %}>
                                        {% if role == "ROLE_PARENT" %}
                                            RODIČ
                                        {% elseif role == "ROLE_LEADER" %}
                                            VEDOUCÍ
                                        {% elseif role == "ROLE_ADMIN" %}
                                            ADMINISTRÁTOR
                                        {% endif %}
                                    </option>
                                {% endfor %}
                                </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 pull-right">
                        <label></label>
                        <input type="submit" onclick="editChildren(event)" class="btn btn-block btn-success" style="margin-top: 60px">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://secure.smartform.cz/api/v1/smartform.js" async>
</script>
<script type="text/javascript">
    var smartform = smartform || {};

    smartform.beforeInit = function initialize() {
        smartform.setClientId('XF9XMJ5oqQ');
    }
</script>
<script src="{{ asset("js/datatables/person-patch.js") }}"></script>