{# /src/templates/Admin/Person/single-person-edit.html.twig #}

<section class="col-xs-12 col-md-12 col-lg-6">
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-wrench"></i>
            <h1 class="box-title"> Úprava uživatele: {{ person.name }} {{ person.surname }}</h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form id=editPerson autocomplete=off >
                <h3>Základní informace</h3>
                <input type="hidden" name="id" value="{{ person.id }}">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="name">Jméno:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                            <input type="text" class="form-control pull-right" name="name" id="name" data-default="{{ person.name }}" required
                                   value="{{ person.name }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-6">
                        <label for="surname">Příjmení:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                            <input type="text" class="form-control pull-right" name="surname" id="surname"
                                   data-default="{{ person.surname }}" required
                                   value="{{ person.surname }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-6">
                        <label for="email">E-mail</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="email" class="form-control pull-right" name="email" id="email"
                                   data-default="{{ person.email }}" required
                                   value="{{ person.email }}">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="phone">Telefon</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input type="text" class="form-control pull-right" name="phone" id="phone"
                                   data-default="{{ person.phone }}"
                                   value="{{ person.phone }}">
                        </div>
                    </div>
                    <div class="form-group col-lg-5">
                        <label for="birthDate">Datum narození:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="date" class="form-control pull-right" id="birthDate" name="birthDate"
                                   data-default="{{ person.birthDate is empty ? "": person.birthDate|date('Y-m-d') }}"
                                   value="{{ person.birthDate is empty ? "": person.birthDate|date('Y-m-d') }}" data-inputmask="'alias': 'dd.mm.yyyy'" data-mask="">
                        </div>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="sex">Pohlaví</label>
                        <select class="form-control" style="width: 100%;" id="sex" name="sex" data-default="{{ person.sex }}">
                            <option value="M" {% if person.sex == "M" %}selected{% endif %}>
                                Muž
                            </option>
                            <option value="Z" {% if person.sex == "Z" %}selected{% endif %}>
                                Žena
                            </option>
                            <option value="N" {% if (person.sex != "M" and person.sex != "Z") or person.sex is not defined%}selected{% endif %}>
                                Neznámé
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="shirtSize">Velikost trička:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-black-tie"></i>
                            </div>
                            <select class="form-control pull-right" name="shirtSize" id="shirtSize"
                                    data-default="{{ person.shirtSize }}" autocomplete=off>
                                {% set shirtSizes = ["XS", "S", "M", "L", "XL", "XXL", "3XL", "4XL"] %}
                                {% for size in shirtSizes %}
                                    <option {% if person.shirtSize == size %}selected{% endif %}>{{ size }}</option>
                                {% endfor %}
                                <option {% if person.shirtSize == null %}selected{% endif %}>Neznámé</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h3>Bydliště & ostatní</h3>
                <div class="row">
                    <input type="hidden" name="address.id"
                           value="{{ person.address.id is empty ? "": person.address.id }}">
                    <div class="form-group col-lg-6">
                        <label for="address.street">Ulice:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-home"></i>
                            </div>
                            <input type="text" class="form-control pull-right smartform-street-and-number" data-mask name="address.street" id="address.street"
                                   data-default="{{ person.address.street }}" required
                                   value="{{ person.address.street }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-6">
                        <label for="address.city">Město:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-map-o"></i>
                            </div>
                            <input type="text"  class="form-control pull-right smartform-city" name="address.city" id="address.city"
                                   data-default="{{ person.address.city }}" required
                                   value="{{ person.address.city }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-4">
                        <label for="address.postcode">PSČ:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-map-pin"></i>
                            </div>
                            <input type="text" class="form-control pull-right smartform-zip" name="address.postcode" id="address.postcode"
                                   data-default="{{ person.address.postcode }}" required
                                   value="{{ person.address.postcode }}">
                        </div>

                    </div>
                    <div class="form-group col-lg-4 col-md-4">
                        <label for="ctuMember">Člen ČTU</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-id-card"></i>
                            </div>
                            <select class="form-control pull-right" id="ctuMember" name="ctuMember"
                                    data-default="{{ person.ctuMember }}" autocomplete="off">
                                <option value=true {% if person.ctuMember %}selected{% endif %}>Ano</option>
                                <option value=false {% if not person.ctuMember %}selected{% endif %}>Ne</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-md-4">
                        <label for="deleted">Smazán</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user-times"></i>
                            </div>
                            <select class="form-control pull-right" name="deleted" id="deleted"
                                    data-default="{{ person.deleted }}" required autocomplete="off">
                                <option value=true {% if person.deleted %}selected{% endif %}>Ano</option>
                                <option value=false {% if not person.deleted %}selected{% endif %}>Ne</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6">
                        <label for="roles">Role</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-users"></i>
                            </div>
                            <select class="form-control pull-right" name="roles" id="roles"
                                    data-default="{{ person.roles|json_encode }}" multiple>
                                {% set roles = ["ROLE_PARENT", "ROLE_LEADER", "ROLE_ADMIN"] %}
                                {% for role in roles %}
                                    <option value="{{ role }}" {% if role in person.roles %}selected{% endif %}>
                                        {% if role == "ROLE_PARENT" %}
                                            RODIČ
                                        {% elseif role == "ROLE_LEADER" %}
                                            VEDOUCÍ
                                        {% elseif role == "ROLE_ADMIN" %}
                                            ADMINISTRÁTOR
                                        {% endif %}
                                    </option>
                                {% endfor %}
                                </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 pull-right">
                        <label></label>
                        <input type="submit" onclick="editChildren(event)" class="btn btn-block btn-success" style="margin-top: 60px">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://secure.smartform.cz/api/v1/smartform.js" async>
</script>
<script type="text/javascript">
    var smartform = smartform || {};

    smartform.beforeInit = function initialize() {
        smartform.setClientId('XF9XMJ5oqQ');
    }
</script>
{{ encore_entry_script_tags("person") }}